.advantages {
  color: @grey-blue;
}

.advantages__wrapper {
  outline: 2px solid purple;
  outline-offset: -5px;
  .wrapper();
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../img/grey-background.jpg");
  background-repeat: no-repeat;
  padding-left: 0;
  background-position: bottom center;
  background-size: 100% 87%;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "content content"
      "smile list"
      "smile list"
      "smile list";
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    background-size: 100% 80%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "image"
      "list";
  }
}

.advantages__list {
  list-style: none;
  margin-top: 70px;
  grid-area: list;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}

.advantages__images {
  display: flex;

  @media (min-width: @desktop-width) {
    justify-content: space-around;
    margin-left: 20px;
  }
}

.advantages__image {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    grid-area: image;
  }
}

.advantages__image-smile {
  display: block;
  grid-area: smile;
  margin: 10px;
}

.advantages__contain {
  grid-area: content;
  text-align: center;
}

.advantages__title {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.advantages__content {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  @media (min-width: @mobile-width-only) {
    display: inline-block;
    padding-top: 20px;
  }

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
