.article {
  display: none;
}

.article__wrapper {
  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    display: flex;
  }

  @media (min-width: @desktop-width) {
    .wrapper-tablet();
    display: flex;
  }
}
