.fieldset {
  border: none;
}

.fieldset__list {
  list-style: none;
}

.fieldset__input::placeholder {
  .label-grey();
}

.fieldset__label {
  .label-pink();
  text-transform: uppercase;
}

.fieldset__legend {
  .legend-pink();
  text-transform: uppercase;
}

.fieldset__label-gray {
  .label-grey();
}
