.fieldset {
  @media (min-width: @mobile-width-only) {
    border: none;
  }

  @media (min-width: @tablet-width) {
    border: 2px solid @light-lightgray;
    border-radius: 4px;
  }

  @media (min-width: @desktop-width) {
    border: 2px solid @light-lightgray;
    border-radius: 4px;
  }
}

.fieldset__list {
  list-style: none;
}

.fieldset__list-number {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.fieldset__item-tel {
  @media (min-width: @desktop-width) {
    min-width: 50%;
  }
}

.fieldset__item-mail {
  @media (min-width: @desktop-width) {
    min-width: 50%;
  }
}

.fieldset__list-progress {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.fieldset__input--checkbox {
  @media (min-width: @desktop-width) {
    min-width: 275px;
  }
}

.fieldset__input::placeholder {
  .label-grey();
}

.fieldset__label {
  .label-pink();
  text-transform: uppercase;
}

.fieldset__legend {
  padding: 0 38px;
  .legend-pink();
  text-transform: uppercase;
}

.fieldset__label-gray {
  .label-grey();
}
