.form-group__wrapper {
  .wrapper();
  display: flex;
  flex-direction: column;
  outline: 2px solid purple;
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.form-group__addition {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.form-group__background {
  background-image: url("img/back.png");
  min-height: 237px;
  background-repeat: no-repeat;
}

.form-group__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @white;
  padding-top: 102px;
  padding-bottom: 51px;
}

.form-group__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @grey-blue;
  text-align: center;
}
