.intro {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;
  background-color: @dark-blue;
}

.intro-title {
  line-height: 120%;
}

.intro__item {
  list-style: none;
}
