.photo-item__autor-info {
  background-color: @light-gray;
}

.photo-item__autor-name {
  font-style: normal;
  font-weight: 700;
  color: @grey-blue;
}

.photo-item__autor-time {
  font-weight: 300;
  font-size: 12px;
  color: @grey-blue;
  text-transform: uppercase;
}

.photo-item__autor-text {
  font-weight: 400;
  color: @grey-blue;
}

.photo-item__likes-number {
  font-weight: 400;
  color: @pink;
}

.photo-item--panorama {
  min-width: 320px;
  min-heght: 137px;

  @media (min-width: @tablet-width) {
    min-width: 660px;
    min-heght: 509px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    min-heght: 509px;
  }
}

.photo-item__img {
  min-width: 280px;
  min-heght: 180px;

  @media (min-width: @tablet-width) {
    min-width: 300px;
    min-heght: 300px;
  }

  @media (min-width: @desktop-width) {
    min-width: 300px;
    min-heght: 400px;
  }
}

.photo-item__autor-info--panorama {
  min-height: 192px;

  @media (min-width: @tablet-width) {
    min-height: 121px;
  }

  @media (min-width: @desktop-width) {
    min-height: 96px;
  }
}

.photo-item__stats {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
