.photo-content {
  margin-left: auto;
  margin-right: auto;
}

.photo-content__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.photo-content__background {
  background-image: url("img/back.png");
  min-height: 237px;
  background-repeat: no-repeat;
}

.photo-content__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @white;
  padding-top: 102px;
  padding-bottom: 84px;
}

.photo-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @grey-blue;
  text-align: center;
}
