.reviews__wrapper {
  .wrapper();
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  outline: 2px solid orange;
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.reviews__list {
  list-style: none;
  padding-left: 0;
}

.reviews__autor-name {
  color: @black;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.reviews__legend {
  .reviews-text();
  display: none;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.reviews__text {
  .reviews-text();
}
