.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  /*outline: 2px solid khaki;
  outline-offset: -5px;*/
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 5px 5px;
  /*outline: 2px solid pink;
  outline-offset: -5px;*/
}
